nav {
    width: 100%;
    border: solid;
    border-width: 2px;
    border-color: black;
    height:fit-content;
    display: flex;
    flex: 1;
    justify-content: space-around;

    padding: 10px;
}


.imgnintro {
    height: 100%;
    /*display: flex;*/
    
    
    display: grid;
    justify-items: center;
    margin-top: 5px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px,auto);
    border: solid;
    border-color: black;
    border-width: 2px;
    align-items: center;
    
    
}

.Projects {
    margin-top: 5px;
    border: solid;
    border-color: black;
    border-width: 2px;
    
}
.Extracurricular {
    margin-top: 5px;
    border: solid;
    border-color: black;
    border-width: 2px;
    
}

li {
    font-family: 'Roboto';
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;

}


#project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 20px;

}

#extracurricular-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

#dp {
    width: 60%;
    height: auto;
    border: 3px solid;
    background: #eee;
    padding: 10px 15px;
}

p {
    font-family: 'Roboto';
    font-size:x-large;
    
}

.section-title {
    padding: 20px;
    margin-left: 2%;
}
