nav {
    width: 100%;
    border: solid;
    border-width: 2px;
    border-color: black;
    height:fit-content;
    display: flex;
    flex: 1;
    justify-content: space-around;

    padding: 10px;
}
.intro {
    font-family: 'Roboto';
    font-size: 64;
}
.imgnintro {
    height: 100%;
    /*display: flex;*/

    display: grid;
    column-gap: 0;
    margin-top: 5px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px,auto);
    border: solid;
    border-color: black;
    border-width: 2px;
    align-items: center;
    justify-content: space-around;
}

.Projects {
    margin-top: 5px;
    border: solid;
    border-color: black;
    border-width: 2px;
    
}
.Extracurricular {
    margin-top: 5px;
    border: solid;
    border-color: black;
    border-width: 2px;
    

}


#project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#extracurricular-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#dp {
    width: 60%;
    height: auto;
    border: 3px solid;
    background: #eee;
    padding: 10px 15px;
}